/* styles.css */

:root {
	--bgColor1: #E2F4FC;
	--bgColor2: #B8E6FA;
	--buttonColor: #878D96;
	--overlayColor: #2F6F55F2;
}

body {
	background: #B8E6FA;
	background: linear-gradient(180deg, var(--bgColor1) 0%, var(--bgColor2) 100%);
}

.btn img {
	max-width: 80%;
	max-height: 40%;
}

.btn-square {
	width: 40vw !important;
	max-height: 100% !important;
	height: 45vh !important;
	text-align: center;
	padding: 0px;
	font-size: 3.5vw !important;
	text-transform: none !important;
	background: var(--buttonColor);
}

.btn-half {
	max-width: 100% !important;
	max-height: 100% !important;
	width: 30vw;
	height: 90%;
	text-align: center;
	font-size: 3vw !important;
	text-transform: none !important;
	background: var(--buttonColor);
}

.overlay ul li h1 {
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Overlay styles below adapted from Codrops sample code:
	https://github.com/codrops/FullscreenOverlayStyles */

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--overlayColor);
}

#overlay-6 li input {
	width: 10vmin;
	height: 10vmin;
	max-height: 100%;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(img/cross.png) no-repeat center center;
	background-size: cover;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 80%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-size: 54px;
	font-weight: 300;
	color: #fff;
}

.overlay ul li a {
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}